#user-cloud-config
#cloud-config
hostname: omv
manage_etc_hosts: true
user: berkeleytrue
password: ${ password }
ssh_authorized_keys:
  - ${ ssh_key }
chpasswd:
  expire: False
users:
  - default
  - berkeleytrue
package_upgrade: true
